@font-face {
    font-family: 'ChulabhornLikitText';
    src: url('fonts/ChulabhornLikitText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'ChulabhornLikitText';
}

.content{
    display: block;
    position: fixed;
    right: 0;
    width: 80%;
    height: 100%;
}
#result{
    display: block;
    position: fixed;
    padding: 50px;
    width: 80%;
    margin-top: 100px;
}
.sidebar{
    width: 20%;
    position: fixed;
    left: 0;
    height: 100%;
    background:white;
    border-right: 1.5px solid gainsboro;
}
.sidebar-1{
    text-align: center;
    padding: 50px 30px;
    font-size: 18px;
    border-bottom: 1.5px solid gainsboro;
    margin-top: 60px;
}
.side-nav{
    margin: 30px 40px;
    display: flex;
    flex-direction: column;
}
.sidebar-item{
    margin-bottom: 20px;
    display: block;
    padding: 10px 15px;
}
.sidebar-item:link,.sidebar-item:visited {
    background-color: white;
    color: black;
    border: 2px solid gainsboro;
    text-align: center;
    margin: 15px 50px;
    box-shadow: 2px 2px 1px gainsboro;
}

.sidebar-item:hover,.sidebar-item:active {
    background-color: gray;
    color: white;
}

#edit{
    background-color: #F8D314;
    border: 3px solid #FFE352;
    padding: 10px;
    text-align: center;   
}





