@font-face {
    font-family: 'ChulabhornLikitText';
    src: url('fonts/ChulabhornLikitText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'ChulabhornLikitText';
}
table{
    position: absolute;
    z-index: 1;
    left: 10%;
    top: 35%;
    width: 80%;
    height: 100px;
    border-spacing:0 ;
    background-color:whitesmoke;
    text-align: center;
    border: 2px solid gainsboro;
}
tr,td,th{
    border-collapse: collapse;
}
th,td{
    padding: 15px 25px;
}
th{
    background: gainsboro;
}
td button{
    display: inline-block;
    padding: 10px; 
    border-radius: 8px;
    margin: 0px 5px;
}
tr:nth-child(even){
    background-color:white; 
  }
.button-add {
    display: inline-block;
    padding: 10px 50px;
    background-color:  white; 
    border: 2px solid #04AA6D;
    border-radius: 8px;
    text-decoration: none;
    margin: 15px;
    color: black;
}
.button-add:hover{
    background-color:  #04AA6D; 
    color: white;
    /* box-shadow: 0 8px 10px 0 rgba(0,0,0,0.14); */
}
.button-booking{
    background-color:  white; 
    border: 2px solid #04AA6D;
}
.button-booking:hover{
    background-color:  #04AA6D; 
    color: white;
    /* box-shadow: 0 8px 10px 0 rgba(0,0,0,0.14); */
}

.container{
    padding-top: 120px;
    text-align: center;
}
#search-box{
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid gray;
}
.bg-modal{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: #fefefe;
    margin: 120px auto;
    padding: 30px;
    border: 1px solid #888;
    width: 800px;
    height: 500px;
    
}
input[type="text"],input[type="number"],input[type="date"],select{
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
    margin: 8px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#submit{
    background-color: #F8D314;
    border: 3px solid #FFE352;
    padding: 10px;
}
.button-view{
    padding: 10px ;
    background-color: whitesmoke; 
    border: 2px solid #4169e1;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}
.button-view:hover{
    background-color: #4169e1;
    color: white;
}



